<div class="container">
  <div class="row">
    <% products.each do |product| %>
      <div class="col-sm-3 mt-3 px-1">
        <div class="card h-100 border-0">
          <%= link_to product_path(product) do %>
            <%= image_tag product.product_image, size: "150x120", class: "w-100 rounded" %>
          <% end %>
          <div class="card-body">
            <div class="card-title">
              <h6>
                <%= link_to product.name, product_path(product), class: "link-product-all" %>
                <% unless product.is_active %>
                  <p class="text-danger">販売停止中</p>
                <% end %>
              </h6>
            </div>
          </div>
          <div class="card-footer bg-transparent border-0">
            <h6>¥<%= product.add_tax_price.to_s(:delimited) %>(税込)</h6>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>