<div class="container">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <h1 class="text-center">About</h1>
            <h6 class="text-center mt-3">ながのCakeは全国発送可能なケーキ屋さんです。<br>
                お子様からお年寄りの方までお召し上がりいただけるよう、<br>
                様々なバリエーションを用意しております。<br>
                また、全国に発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
                ぜひご注文ください。
            </h6>
            <div class="text-center mt-3">
                <%= image_tag 'about_image/shop.jpg', size: "400x250", class:"w-50" %>
            </div>
        </div>
    </div>
</div>