<div class="container">
    <div class="row">
        <%= render 'public/products/category', categories: @categories %>
        <div class="col-lg-10">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 my-4">
                        <%= render 'image' %>
                    </div>
                </div>
            </div>
            <h3 class="font-weight-bold d-inline">新着商品</h3>
            <%= render 'public/products/product_image', products: @products %>
            <div class="d-flex justify-content-end mt-3">
                <%= link_to "全ての商品を見る >", products_path %>
            </div>
        </div>
    </div>
</div>