<div class = "col-md-8 offset-md-1">
  <h4 class="my-5">配送先編集</h4>
  
  <!--エラー文-->
  <% if @address.errors.any? %>
    <%= @address.errors.count %> error prohibited this obj from being saved:
    <ul>
      <% @address.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  
  <!--配送先登録フォーム-->
  <%= render "form", address: @address %>
  
  
  
  
</div>
