<div class="container">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <h5 class="mt-4 ml-5">商品編集</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7 mx-auto">
            <div class="my-4">
                <%= render 'error', product: @product %>
                <%= form_with model: @product, url: admin_product_path do |f| %>
                    <%= render 'form', f: f, categories: @categories %>
                    <div class="form-group text-center">
                        <%= f.submit "変更を保存", class:"btn btn-outline-secondary" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>