<div class="container">
  <div class="row justify-content-center align-items-center" style="height: 70vh;">
    <div class="col text-center">
        <h1 class="mb-5">ご注文ありがとうございました！</h1>
        <%= link_to "注文一覧画面へ", orders_path, class: "btn btn-outline-secondary"%>
    </div>
  </div>
</div>